
.spacing-top {
    margin-top: 20px; /* Ajuste o valor conforme necessário */
  }
  
  .spacing-bottom {
    margin-bottom: 20px; /* Ajuste o valor conforme necessário */
  }
  
  .button-container {
    margin-bottom: 20px; /* Ajuste o valor conforme necessário */
  }
  