
.spacing-top {
    margin-top: 20px; /* Ajuste o valor conforme necessário */
  }
  
  .spacing-bottom {
    margin-bottom: 20px; /* Ajuste o valor conforme necessário */
  }
  
  .button-container {
    margin-bottom: 20px; /* Ajuste o valor conforme necessário */
  }
  .suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .suggestions li {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }
  
  .suggestions{
    margin-bottom: 10px;
  }